:root {
    --h-slider-rect: 41;
    --w-slider-rect: 59;
    --h-slider-rect-fr: calc(var(--h-slider-rect) * 1fr);
    --w-slider-rect-fr: calc(var(--w-slider-rect) * 1fr);
    --background-color: rgb(253, 249, 209);
    --content-size: calc(1/2);
    --slider-height: 25px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    width: 100vw;
    height: 100vh;
}


/* Content organization */

.fv-w100-h100 {
	font-family: Consolas,monaco,monospace; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.fh-w100-h25 {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 2 / 1;
    width: 100%;
    max-width: 100vh;
}
.box-mh100{
    display: grid;
    grid-template-rows: 59fr 41fr;
    grid-template-columns: 41fr 59fr;
    background-color: azure;
    max-height: 100%;
    height:100%;
    aspect-ratio: 1;
    border-radius: 100%;
}

/* Title */
p {
    font-size: xx-large;
	font-family: Consolas,monaco,monospace; 
}

/* Color display */

.box-color {
    background-color: rgb(230, 230, 250);
    grid-row-start: 1;
    grid-column-start: 2;
}

/* Sliders */

.hslidecontainer{
    grid-row-start: 2;
    grid-column-start: 2;
}

.vslidecontainer{
    grid-row-start: 1;
    grid-column-start: 1;
    height: calc(100% * var(--h-slider-rect) / var(--w-slider-rect));
    transform: rotate(-90deg);
    justify-content: flex-end;
    width: 100%;
}

.dslidecontainer {
    grid-row-start: 2;
    grid-column-start: 1;
    transform: rotate(136deg);
}

.slider {
    appearance: none;
    background: rgba(226, 226, 226, 0.781);
    height: var(--slider-height);
    border-radius: 100px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: calc(var(--slider-height) * 5/4); /* Set a specific slider handle width */
    height: calc(var(--slider-height) - 2px); /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100px;
    box-sizing: border-box;
    border: 1px solid white;
}

.vslider {
    width: calc(100% * var(--w-slider-rect) / var(--h-slider-rect));
    background-image: linear-gradient(to right, rgb(230, 0, 250), rgb(230, 255, 250));
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.vslider::-webkit-slider-thumb {
    background: green; /* Green background */
  }

.hslider {
    width: 100%;
    background-image: linear-gradient(to right, rgb(0, 230, 255), rgb(255, 230, 250));
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.hslider::-webkit-slider-thumb {
    background: red; /* Green background */
  }

.dslider {
    width: calc(100% * var(--w-slider-rect) / var(--h-slider-rect));
    background-image: linear-gradient(to right, rgb(230, 230, 0), rgb(255, 230, 255));
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.dslider::-webkit-slider-thumb {
    background: blue; /* Green background */
  }